#block-latest-event {
  background-color: $darkBlue;
  #challenge-event {
    display: flex;
    padding: 120px 0;

    .img-left {
      width: 41%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .content-right {
      width: 59%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 60px;
      * {
        margin: 0;
      }

      h2 {
        padding-bottom: 30px;
        margin-bottom: 50px;
        position: relative;
        display: inline-block;
        width: fit-content;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 3px;
          width: 40%;
          background-color: $blue;
        }
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        color: $lightGray;
      }
    }
  }
}
