footer {
  nav {
    padding: 23px 0 26px 0;
    position: relative;
    * {
      margin: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -999px;
      height: 100%;
      width: 9999px;
      background-color: #0F2123;
      z-index: -1;
    }
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      li {
        &:not(:last-child) {
          margin-right: 29px;
        }
        a {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: $mediumGray;
          text-decoration: none;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
  #block-footercreated {
    padding: 19px 0;
    * {
      margin: 0;
    }
    display: flex;
    justify-content: center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -999px;
      height: 100%;
      width: 9999px;
      background-color: #1E2C2E;
      z-index: -1;
    }

    p {
      color: $lightGray;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
}
