@keyframes moveNavFromTop {
  0% {
      top: -50%;
  }

  100% {
    top: 0%;
    position: fixed;
  }
}

@keyframes simpleFadeIn {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }

@keyframes simpleFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
