// colors
$red: #FF5252;
$blue: #0097A7;
$darkBlue: #161E21;
$white: #FFFFFF;
$black: #323232;
$lightGray: #D4D4D4;
$mediumGray: #949494;

// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$roboto: 'Roboto', sans-serif;
